body {
   padding-top: 35vh;
}
.btm-download-box, .action-box, .action-item, .detail-info, .mid-download-box, .content, .more-cont, .limit-btn, .play-limit-title, .play-limit-desc, .download-tab, .content-warp, .pc-play-limited {
    display: none !important;
}
.limited-bg, .pc-limited-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    content: url(https://i.ytimg.com/vi/Hhe-G6Mpe54/maxresdefault.jpg) !important;
}
.play-limit {
    position: absolute;
    width: 100%;
    height: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 9;
    background-color: #101114;
    background-size: cover;
    background-image: url(https://i.ytimg.com/vi/Hhe-G6Mpe54/maxresdefault.jpg) !important;
}
