.subject-box {
    padding: 0px !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.video-cot {
   width: 100vw !important;
}
.btm-download-box, .action-box, .action-item, .detail-info, .mid-download-box, .content, .more-cont, .limit-btn, .play-limit-title,
.play-limit-desc, .download-tab, .content-warp, .pc-play-limited, .pc-sub-nav, .pc-download-banner, .pc-main, .pc-fixed-box, 
.pc-feedback-tip, .pc-tv-arr-box {
    display: none !important;
}
.limited-bg, .pc-limited-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    content: url(https://assets.entrepreneur.com/content/3x2/2000/1593193401-fairandlovelyedited.jpg?format=pjeg&auto=webp&crop=16:9&width=675&height=380) !important;
}
.play-limit {
    position: absolute;
    width: 100%;
    height: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 9;
    background-color: #101114;
    background-size: cover;
    background-image: url(https://assets.entrepreneur.com/content/3x2/2000/1593193401-fairandlovelyedited.jpg?format=pjeg&auto=webp&crop=16:9&width=675&height=380) !important;
}
.art-progress-played {
    background: orange !important;
}
.pc-video-page {
   height: 100vh !important;
   padding: 10%;
}
